body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px;
    background: url('hero-image.png') no-repeat center center;
    background-size: cover;
    color: black;
}

.hero h1 {
    font-size: 2.5em;

}

.hero p {
    font-size: 1.2em;
}

.hero button {
    background-color: #26a69a;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    text-align: center;
}

.category img {
    width: 100px;
    height: 100px;
}

.category h3 {
    font-size: 1.2em;
}

.category p {
    font-size: 0.9em;
    color: #616161;
}

.highlight {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
}

.highlight h2 {
    color: #26a69a;
}

.highlight button {
    background-color: #26a69a;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.featured-product {
    padding: 50px;
    text-align: center;
}

.featured-product .product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-product .product img {
    width: 200px;
    height: 200px;
}

.featured-product .product-details {
    max-width: 400px;
    text-align: left;
}

.featured-product .product-details h3 {
    color: #26a69a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #00acc1;
    color: white;
}
ul
{
    display: flex;
    gap: 1rem;
    list-style: none;
}
ul li
{
    color: #ffffff;
    display: grid;
    place-content: center;
    margin: 0;
}
.menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}